include README.md
include LICENSE
include CHANGELOG.md

# Keep build artifacts and dev/junk out of the sdist
prune examples
recursive-exclude . *.DS_Store
recursive-exclude . .Rhistory
global-exclude *.py[cod]
global-exclude __pycache__
